<template>

        <div>
            <router-link :to="{ name: 'cart' }" class="crt__icon">
                <i class="fa fa-cart-plus"></i><span class="crt__count">{{ basketCount }}</span>
            </router-link>
        </div>

</template>

<script>

  import store from '../../store'

  export default {
    name: "CartIcon",
    computed : {
      /**
       * Get how many items are collectively in the basket
       * @returns {number}
       */
        basketCount () {

          let basket = store.state.basket;
          let unique_cart_products = Object.keys(basket);

          let quantity = 0;

          for (let i = 0; i < unique_cart_products.length; i++)
            quantity += basket[unique_cart_products[i]]
          return quantity;
        }
    }
  }
</script>

<style scoped lang="scss">

    .crt {

        &__icon {
            background: white;
        }

        &__count {
            margin-left: 0.5rem;
        }
    }

</style>