<template>

    <div class="float-right">
        <span v-if="!checked_out">
            <button class="btn" :class="{'btn-primary': !cartIsEmpty, 'btn-info': cartIsEmpty}" :disabled="cartIsEmpty" v-on:click="checkout">Checkout</button>
        </span>
        <span v-else>
            <router-link class="btn btn-primary" :to="{ name : 'products' }">Back to store</router-link>
        </span>
    </div>
    
</template>

<script>

  import store from '../../store'

  export default {
    name: "CheckoutButton",
    data() {
      return {
        checked_out : {
          default: function() {
            return false
          }
        }
      }
    },
    computed : {

      /**
       * Check if the cart has any items in it
       * @returns {boolean}
       */
      cartIsEmpty : function() {
        return (Object.entries(store.state.basket).length === 0 && store.state.basket.constructor === Object)
      }
    },
    methods : {

      /**
       * Trigger checkout script in global store
       */
        checkout : function() {
          store.commit('processCart')
          this.checked_out = true

        }

    },

    created : function() {
        // make sure the 'checkout' button is displayed on route load
        this.checked_out = false

    }
  }
</script>

<style scoped>

</style>