<template>

    <tr>
        <td> {{ product_id }}</td>
        <td>{{ productName }}</td>
        <td>
            <input :id="['demo-' + product_id]" type="number" :value="quantity" min="0">
        </td>
        <td>
            <button class="btn btn-success" v-on:click="updateQuantity()">update</button>
            <button class="btn btn-danger" v-on:click="removeProduct()">remove</button>
        </td>
        <td>£{{ productPrice * quantity }}</td>
    </tr>

</template>

<script>

  import store from '../../store'

  export default {
    name: "TableRow",
    props: {
      product_id: {},
      quantity: {},
      product: {}
    },
    methods : {
      /**
       * Remove a product from the basket
       */
      removeProduct : function () {
        store.commit('removeFromBasket', this.product_id )
      },

      /**
       * Update the quantity of a specific product
       */
      updateQuantity : function () {


        let new_quantity = document.getElementById("demo-" + this.product_id).value;

        if ( new_quantity > 0 )
            store.commit('updateBasket', [this.product_id,  new_quantity] )
        else
          store.commit('removeFromBasket', this.product_id )
      },
    },
    computed : {
      /**
       * Get the product name
       * @returns {string|boolean}
       */
      productName : function() {
        for ( let i = 0; i < store.state.products.length; i++ )
          if ( store.state.products[i].id  == this.product_id )
            return store.state.products[i].name

        return false
      },
      /**
       * Get the product price
       * @returns {number|boolean}
       */
      productPrice : function() {
        for ( let i = 0; i < store.state.products.length; i++ )
          if ( store.state.products[i].id  == this.product_id )
            return store.state.products[i].price

        return false
      }
    }
  }
</script>

<style scoped>

</style>