<template>


    <div>

        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Actions</th>
                <th>Cost</th>
            </tr>
            </thead>
            <tbody>

            <TableRow v-for="(q, p_id) in cart" :product_id="p_id" :quantity="q"></TableRow>



            <tr>
                <td colspan="3"></td>
                <th class="text-right">Total:</th>
                <th class="text-center">£{{ cartTotal }}</th>
            </tr>
            </tbody>
        </table>

        <CheckoutButton></CheckoutButton>

    </div>

</template>

<script>

  import store from '../../store'
  import TableRow from "../../components/cart/TableRow";
  import CheckoutButton from "../../components/cart/CheckoutButton";

  export default {
    name: "Cart",
    components: {CheckoutButton, TableRow},
    computed : {

      // grab the global objects cart
      cart : function() {
        return store.state.basket
      },

      // return carts monetary value
      cartTotal : function() {
        let cart = store.state.basket
        let cart_keys = Object.keys(cart)
        let products = store.state.products
        let total = 0;

        for ( let i = 0; i < cart_keys.length; i++ ) {

          for ( let q = 0; q < products.length; q++ ) {
            // return products[i];
            if ( products[q].id == cart_keys[i] )
              total+= ( products[q].price ) * cart[ cart_keys[i] ]
          }

        }

        return total
      },
    }
  }
</script>

<style scoped>

</style>