<template>
    <div class="home">
        <h1>Catalogue</h1>

       <section class="product-catalogue">
           <div class="product-catalogue__outer-container">
               <div class="product-catalogue__inner-container container">
                   <div class="row">

                       <div class="col-12">
                           <ProductFilter></ProductFilter>
                           <Pagination :items="products" :page_number="page_number"></Pagination>
                       </div>

                       <div v-for="product in paginatedProducts" class="col-12 col-md-6 col-lg-4 product-catalogue__single-product-card">
                           <ProductCard :product="product"></ProductCard>
                       </div>

                   </div>
               </div>
           </div>
       </section>

    </div>
</template>


<script>

    import ProductCard from "../../components/product/ProductCard";
    import Pagination from "../../components/features/Pagination";
    import ProductFilter from "../../components/features/ProductFilter";
    import store from '../../store'

    export default {
      name : 'Catalogue',
      components: {ProductFilter, Pagination, ProductCard},
      props : {
        // Url parameter to pass to pagination component
        page_number: {
          default: function () {
            if (typeof id !== 'undefined') {
              return id
            } else {
              return 1
            }
          }
        },
      },
      computed: {
        /**
         * Filter the global store items based on the filters applied then return
         * only the relevant items based on the current catalogue page
         */
        paginatedProducts() {

          // page number
          // products
          let to_show = store.state.max_per_page;

          // Get filters
          let filter_type = typeof store.state.filters[0] !== "undefined" ? store.state.filters[0] : 'price'
          let filter_order = typeof store.state.filters[0] !== "undefined" ? store.state.filters[1] : 'desc'

          // filter/sort global products store
          store.commit('updateFilters', [filter_type, filter_order])

          // Just grab relevant products based on offsets
          let s_offset = ( to_show * ( this.page_number - 1 ) )
          let e_offset = s_offset + to_show;
          let products = store.state.products.slice(s_offset, e_offset);

          return products;

        }
      }
    }


</script>


<style scoped lang="scss">

    .product-catalogue {
        &__single-product-card {
            margin-bottom: 2rem;
        }
    }

</style>
