<template>

    <div>
        <ProductCard :product="product" full="true"></ProductCard>
    </div>

    
</template>

<script>

  import ProductCard from "../../components/product/ProductCard";
  import store from '../../store'

  export default {
    name: "SingleProduct",
    components: {ProductCard},
    props: ['id'],
    computed : {
      /**
       * Grab the single product based on the :id route parameter
       * @returns Object
       */
      product : function() {

        let products = store.state.products
        let product;

        for ( let i = 0; i < products.length; i++ ) {

          if ( products[i].id == this.id ) {
            product = products[i];
            break
          }
        }

        return product;
      }
    }
  }
</script>

<style scoped>

</style>