<template>

    <div>
        <div class="d-inline-flex ap__container">

            <input class="form-control ap__quantity" type="number" v-model="quantity" min="1" max="99" step="1">

            <button :disabled="!allowAddToCart()" :class="{ 'btn-primary': !addedToBasket, 'btn-success': addedToBasket}" class="btn ap__button" @click="addToCart( product.id, quantity )">

                <span v-if="!addedToBasket">
                    <span v-if="allowAddToCart()">Add to cart</span>
                    <span v-else>Closed</span>
                </span>

                <span v-else>Added!</span>

            </button>
        </div>
    </div>

</template>

<script>

  import store from '../../store'

  export default {
    name: "AddProduct",
    props: ['product'],
    data() {
      return {
        quantity: 1,
        addedToBasket: false
      }
    },
    methods: {
      /**
       * Add a product to the global cart
       *
       * @param product_id
       * @param quantity
       */
      addToCart( product_id = 0, quantity = 0 ) {

        if (
          quantity > 0
          && quantity % 1 == 0
        ) {
          store.commit('addToBasket', [product_id, quantity])
          this.addedToBasket = true;

          // re-enables the button after 2.5 seconds
          setTimeout( () => this.addedToBasket = false, 2500 )
        }
      },
      /**
       * General rule check to see if the product can be added to the cart
       * @returns boolean
       */
      allowAddToCart : function() {
        return !this.addedToBasket && this.isInDate( this.product )
      }
    },
  }
</script>

<style scoped lang="scss">

    .ap {

        &__container {
            display: flex;
            width: 100%;
        }
        &__button {
            margin-left: 1rem;
            flex-grow: 1;
        }

        &__quantity {
            max-width: 60px;
        }
    }

</style>