<template>

        <div class="single-product__outer-container">
            <div class="single-product__inner-container container">


                <div class="row" v-if="!full">
                <!-- e.g. in the catalogue -->
                    <div class="col-12">

                        <div class="single-product__container">
                            <router-link :to="{ name: 'single_product', params: { id: product.id }}">
                                <div class="single-product__image" :style="{ backgroundImage: 'url(' + product.image + ')' } ">
                                </div>

                                <div class="single-product__info-container">
                                    <h2 class="text-center single-product__title">
                                        {{ product.name }}
                                    </h2>
                                    <span class="text-center single-product__price">£{{ product.price }}/item</span>
                                </div>

                            </router-link>

                            <AddProduct :product="product"></AddProduct>
                            <GoalSlider :product="product"></GoalSlider>

                        </div>

                    </div>
                </div>


                <div v-else class="row single-product__container--full">
                <!-- e.g. single product -->


                    <div class="col-8">
                        <h2 class="single-product__title--full">{{ product.name }}</h2>
                        <p v-if="product.description">{{ product.description }}</p>
                        <img :src="product.image">
                    </div>

                    <div class="col-4">
                        <GoalSlider :product="product"></GoalSlider>
                        <AddProduct :product="product"></AddProduct>
                    </div>


                </div>

            </div>
        </div>

</template>

<script>

    import AddProduct from "../buttons/AddProduct";
    import GoalSlider from "../features/GoalSlider";

    export default {
        name: "ProductCard",
      components: {GoalSlider, AddProduct},
      props: {
        product: {
          type: Object
        },
        // used to display a partial or 'full' product card
        full: {
          default() {
            return false
          }
        }
      }
    }
</script>

<style scoped lang="scss">

    .single-product {

        &__container {
            border: 1px solid grey;
            padding: 0.3rem;
            border-radius: 7px;
            max-width: 300px;
            margin: 0 auto;

            &--full {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }
        &__image {
            height: 200px;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &__title {
            margin-bottom: 0;
        }


        &__expiry-container {
            padding: 0.3rem 0.8rem;
            background: #ffd467;
            font-weight: bold;
        }

        &__info-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1.1rem;
            margin-bottom: 1rem;
        }
    }

</style>