<template>
    <div class="admin">


        <section class="admin-form">
            <div class="admin-form__outer-container">
                <div class="admin-form__inner-container container">
                    <div class="row">
                        <div class="col-12">

                            <h1>New product details</h1>

                            <form class="row">

                                <div class="col-12 admin-form__input-row">
                                    <label for="name">Name:</label><input  value="test" class="form-control" type="text" id="name" required/>
                                </div>

                                <div class="col-12 admin-form__input-row">
                                    <label for="description">Description:</label><input class="form-control" type="text" id="description" required value="this is a description"/>
                                </div>

                                <div class="col-12 admin-form__input-row">
                                    <label for="reservation_goal">Reserve amount required:</label><input class="form-control" type="number" id="reservation_goal" min="0" step="1" required value="23"/>
                                </div>

                                <div class="col-12 admin-form__input-row">

                                    <label for="price">Price:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon admin-form__icon-input"><i class="fa fa-pound-sign"></i></span>
                                        <input id="price" type="number" class="form-control" required value="29">
                                    </div>
                                </div>

                                <div class="col-12 admin-form__input-row">

                                    <label for="expiry_date">Expiry date:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon admin-form__icon-input"><i class="fa fa-calendar"></i></span>
                                        <input id="expiry_date" type="date" class="form-control"  required value="2019-09-29">
                                    </div>
                                </div>

                                <div class="col-12 admin-form__input-row">

                                    <label for="expiry_date">Image URL:</label>
                                    <div class="input-group">
                                        <span class="input-group-addon admin-form__icon-input"><i class="fa fa-globe"></i></span>
                                        <input value="https://i3.cpcache.com/product/606802989/unicorn_kids_dark_tshirt.jpg" id="image" type="url" class="form-control">
                                    </div>
                                </div>

                                <div class="col-12 admin-form__input-row">

                                    <button class="float-right btn" v-on:click="saveProduct" :disabled="addedProduct" :class="{ 'btn-primary' : !addedProduct, 'btn-success': addedProduct }">
                                        <span v-if="addedProduct">Product saved</span>
                                        <span v-else>Save</span>
                                    </button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</template>

<script>

  import store from '../../store'

  export default {
    name: "Admin",
    props: {
      addedProduct : {
        default : function() {
          return false
        }
      }
    },
    methods : {
      /**
       * amalgamate data in form and pass to global object for processing
       * @param e
       */
      saveProduct : function( e ) {

        e.preventDefault()

        let name = document.getElementById("name").value
        let description = document.getElementById("description").value
        let reservation_goal = parseInt(document.getElementById("reservation_goal").value)
        let price = parseInt( document.getElementById("price").value )

        let expiry_date = document.getElementById("expiry_date").value
        let unix_date = Date.parse(expiry_date)

        let image = document.getElementById("image").value

        let payload = {
          name: name,
          description : description,
          reservation_goal : reservation_goal,
          price : price,
          expiry_date : unix_date,
          image : image,
        }

        // disable button while adding
        this.addedProduct = true;

        store.commit('adminAddItem', payload)


        // re-enable button after product has been added (delayed)
        setTimeout(() => {
          this.addedProduct = false
        }, 2500)


      }
    }
  }
</script>

<style scoped lang="scss">

    .admin-form {

        &__icon-input {

            background: #d6d6d6;
            border-radius: 7px 0 0 7px;

            i {
                display:inline-block;
                font-size: 1em;
                padding: 0.6em 0;
                text-align: center;
                margin: 0 auto;
                color: #333;
                width: 35px;
            }
        }

        &__input-row {
            margin-bottom: 1rem;
        }

    }

</style>