<template>

    <div class="goal-slider">

        <div class="alert alert-success">
            <p class="goal-slider__message">{{ product.amount_reserved }}/{{ product.reservation_goal }} reserved</p>
        </div>

        <div :class="{'alert-success': isInDate(), 'alert-warning' : !isInDate()}" class="alert">
            <p class="goal-slider__message">
                <span v-if="isInDate()">Order by {{ goalDate }}</span>
                <span v-else>Ordering closed</span>
            </p>
        </div>

    </div>

</template>

<script>
  export default {
    name: "GoalSlider",
    props: ['product'],
    methods : {
    /**
     * Checks to see if the goal expiry date has passed
     * @returns {boolean}
     */
    isInDate : function() {
      var today  = new Date();
      var expiry_date  = new Date( this.product.expiry_date );

      return today < expiry_date
    }

  },
    computed: {
      /**
       * Get the expiry date in the specified format
       * @return string
       */
      goalDate : function() {
        var expiry_date  = new Date( this.product.expiry_date );

        return expiry_date.toLocaleDateString("en-GB")
      },
    },
  }
</script>

<style scoped lang="scss">

    .goal-slider {

        margin-top: 1rem;
        margin-bottom: 1rem;


        &__message {
            font-size: 1.2rem;
            font-weight: bold;
        }
    }



</style>