<template>
    <div>

        <ul class="pagination">

            <li :class="{'page-item' : true,'active' : (page == page_number)}" v-for="page in pages">

                <router-link :to="{ name: 'catalogue_products_paged', params: { page_number: page }}" class="page-link" href="#">{{ page }}</router-link>
            </li>
        </ul>

    </div>

</template>

<script>

  import store from '../../store'

  export default {
    name: "Pagination",
    props: {
      items: {
        type: Array
      },
      page_number: {
        default: function() {
          return 1
        }
      },
      max_per_page: {
        default: function() {
          return store.state.max_per_page
        }
      }
    },
    computed : {
      pages: function() {
        return Math.ceil(((Object.keys(this.items).length)/this.max_per_page))
      }
    }
  }
</script>

<style scoped>

</style>