<template>
    <div class="product-filter__container">
        <label class="product-filter__title" for="filter-type">Filters: </label>
        <select id="filter-type" class="form-control product-filter__form-control" :value="getFilterType">
            <option value="price">Price</option>
            <option value="name">A to Z</option>
            <option value="amount_reserved">Amount reserved</option>
            <option value="expiry_date">Close date</option>
        </select>
        <select id="filter-order" class="form-control product-filter__form-control" :value="getFilterOrder">
            <option value="asc">
                Ascending
            </option>
            <option value="desc">
                Descending
            </option>
        </select>
        <button v-on:click="filterProducts" class="btn btn-primary">Filter</button>
    </div>
</template>

<script>

  import store from '../../store'


  export default {
    name: "ProductFilter",
    methods : {

      /**
       * Reorder the global products list in relevance to the filters selected
       */
      filterProducts : function() {

        let filter_type = document.getElementById("filter-type").value
        let filter_order = document.getElementById("filter-order").value

        let payload = [filter_type, filter_order];

        store.commit('updateFilters', payload)
        this.$router.push({name: "products"})

      }
    },
    computed : {
      /**
       * Get the global objects current filter type
       * @returns string
       */
      getFilterType : function() {
        return typeof store.state.filters[0] !== "undefined" &&   store.state.filters[0] !== 'id' ? store.state.filters[0] : 'price'
      },

      /**
       *
       * Get the global objects current filter order
       * @returns string
       */
      getFilterOrder: function() {
        return typeof store.state.filters[1] !== "undefined" ? store.state.filters[1] : 'asc'
      }
    }
  }
</script>

<style scoped lang="scss">

    .product-filter {
        &__container {
            margin-top: 1rem;
            margin-bottom: 2rem;
        }

        &__title {
            display: inline-block;
            padding-right: 0.5rem;
        }

        &__form-control {
            width: auto;
            display: inline-block;
            margin-right: 1rem;
        }

    }

</style>