<template>
    <form v-on:submit="submitForm">
        <div class="search-form__container" v-on:mouseleave="clearResults()">
            <input id="search-query" typeof="text" class="form-control d-inline-block search-form__input" placeholder="search" v-on:focus="submitForm">
            <ul class="search-form__results" id="results-list" v-bind:class="{ 'hide' : this.found_products.length <= 0 }">
                <li v-for="product in foundProducts" v-on:click="clearResults()" v-bind:key="product.id">
                    <router-link :to="{ name: 'single_product', params: { id: product.id }}">{{ product.name }}</router-link>
                </li>
            </ul>
        </div>
    </form>
</template>

<script>

  import store from '../../store'

  export default {
    name: "Search",
    data() {
      return {
        found_products : []
      }
    },
    methods : {
      submitForm : function( e ) {
        e.preventDefault()

        this.found_products = []

        let s = document.getElementById('search-query').value

        // work with a local array (not the global object)
        let products = store.state.products.slice()

        for ( let i = 0; i < products.length; i++ ) {
          if ( products[i].name.toLowerCase().indexOf( s)  > -1 || products[i].description.toLowerCase().indexOf(s) > -1 ) {
            this.found_products.push(products[i])
          }
        }

      },
      clearResults : function() {
        this.found_products = []
      }
    },
    computed : {
      foundProducts : function() {
        return this.found_products
      }
    }
  }
</script>

<style scoped lang="scss">

    .search-form {

        &__container {
            position: relative;
        }
        &__input {
            position: relative;
            margin-left: 10px;
            width: 80%;
        }

        &__results {
            font-size: 0;
            position: absolute;
            top: 100%;
            left: 12px;
            width: calc(80% - 5px);
            z-index: 1000;
            background: #fff;
            max-height: 200px;
            overflow-y: scroll;

            &.hide {
                display: none;
            }

            li {
                font-size: 1rem;
                display: block;
                width: 100%;
            }

            a {
                display: block;
                padding: 0.3rem 0.5rem;

                &:hover {
                    background: #333;
                    color: white;
                }
            }
        }
    }

</style>