<template>

    <div id="app">

        <header class="app-header">
            <div class="app-header__outer-container">
                <div class="app-header__inner-container container">
                    <div class="row">
                        <div class="col-12">
                            <nav class="app-header__navigation--main">

                                <ul>
                                    <li>
                                        <router-link to="/products">Products</router-link>
                                    </li>
                                    <li>
                                        <router-link to="/admin">Admin</router-link>
                                    </li>
                                    <li>
                                        <Search></Search>
                                    </li>
                                </ul>

                                <ul class="app-header__navigation--cart">
                                    <li>
                                        <CartIcon></CartIcon>
                                    </li>
                                </ul>


                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="app-body">
            <div class="app-body__outer-container">
                <div class="app-body__inner-container container">
                    <div class="row">
                        <div class="col-12">
                            <router-view/>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

</template>


<script>
    import CartIcon from "./components/cart/CartIcon";
    import Search from "./components/features/Search";
    export default {
      name: 'App',
      components: {Search, CartIcon}
    }
</script>

<style lang="scss">

    .app-header {

        &__outer-container {
            background: lightblue;
        }

        &__inner-container {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }


        &__navigation {
            display: flex;

            ul {
                font-size: 0;
                padding: 0;
            }

            li {
                display: inline-block;
                font-size: 1rem;
            }

            a {
                display: block;
                padding: 0.3rem 0.8rem;
                text-decoration: none;

                &.router-link-active {
                    background: white;
                    color: #838383;
                }
            }
            &--main,
            &--cart {
                @extend .app-header__navigation;
            }

            &--cart {
                margin-left: auto;
            }
        }

    }

    .app-body {
        margin-top: 1rem;
    }

</style>
